<html>
<head>
    <title>Helen's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Welcome to Helen's Blog</a></h1>
    </div>


    {% for post in posts %}
      <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
      </div>
  {% endfor %}

    <div>
    {{ posts }}
    </div>
    <div>
      <p>published: 25.06.2016, 06:14</p>
      <h2><a href="">My second post</a></h2>
      <p>おもしろい.</p>
    </div>
  </body>
</html>
